:root {
    --primary-color: hsl(289, 21%, 30%);
    --secondary-color: hsl(289, 21%, 20%);
    --card-primary: hsla(289, 22%, 50%, 70%);
    --card-border: hsla(289, 22%, 40%, 70%);
    --secondary-hover: hsl(289, 21%, 10%);
    --secondary-active: hsl(289, 21%, 15%);
    --font-color: #DCDCDC;
    --secondary-font-color: hsl(289, 21%, 10%);
    --form-primary: hsla(289, 22%, 50%, 30%);
    --form-border: hsla(289, 22%, 50%, 30%);
    --input-primary: hsla(289, 10%, 65%, 70%);
    --input-border:  hsla(289, 10%, 40%, 70%);
    --positive: rgba(30, 240, 30, 0.55);
    --positive-hover: rgba(0, 220, 0, 0.55);
    --positive-active: rgba(30, 220, 30, 0.55);
    --positive-border: rgba(0, 220, 0, 0.7);
    --negative : rgba(240, 30, 30, 0.55);
    --negative -hover: rgba(220, 0, 0, 0.55);
    --negative -active: rgba(220, 30, 30, 0.55);
    --negative -border: rgba(220, 0, 0, .7);
    --dropdown-primary: var(--ellipsis-primary);
    --dropdown-border: var(--ellipsis-border);
    --dropdown-hover: var(--ellipsis-hover);
    --dropdown-active: var(--ellipsis-active);
    --ellipsis-primary: hsla(289, 10%, 55%, 70%);
    --ellipsis-border:  hsla(289, 10%, 30%, 70%);
    --ellipsis-hover:  hsla(289, 10%, 30%, 70%);
    --ellipsis-active:  hsla(289, 10%, 20%, 70%);

}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    color: inherit;
}

html {
    font-size: 16px;
}

body {
    height: 100dvh;
    display: grid;
    grid-template-rows: 1fr 6fr;
    font-size: 1rem;
    color: var(--font-color);
}

button, input, label {
    outline: none;
    border: none;
    font-size: .85rem;
}

.svg {
    width: 20px;
    aspect-ratio: 1 / 1;
    fill: red;
    stroke: red;
}


header {
    width: 100dvw;
    height: 4rem;
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    padding-right: 4rem;
    margin-bottom: 2rem;
    background-color: var(--primary-color);
    color: var(--font-color);
}

#title {
    font-size: 1.75rem;
}

#add-book-btn {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.75rem;
    background-color: var(--secondary-color);
    transition: background-color .1s;
    font-size: 1rem;
}

#add-book-btn:hover {
    background-color: var(--secondary-hover);
    transition: background-color 0s;
}

#add-book-btn:active {
    background-color: var(--secondary-active);
}

main {
    grid-row: 2 / -1;
    padding: 0 2rem;
    color: var(--font-color)
}

dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close {
    background: none;
    position: absolute;
    right: 1rem;
}

form {
    color: var(--secondary-font-color);    
    background-color: var(--form-primary);
    padding: 1rem;
    border: 3px solid var(--form-border);
}

form h3 {
    margin: 0 auto;
    font-size: 1.25rem;
}

#book-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 400px;
    height: 300px;
}

#deletion-confirmation-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#deletion-confirmation-form div {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    width: 60%;
}


#deletion-confirmation-form h3 {
    font-size: 1.5rem;
}

#deletion-confirmation-form p {
    font-size: 1rem;
}

#deletion-confirmation-form div button {
    width: 130px;
    height: 40px;
    border-radius: 1000px;
}

#cancel {
    background-color: var(--positive);
    border: 2px solid var(--positive-border);
}

#cancel:hover {
    background-color: var(--positive-hover);
}

#cancel:active {
    background: var(--positive-active);
}

#confirm {
    background-color: var(--negative   );
    border: 2px solid var(--negative   -border);
}

#confirm:hover {
    background-color: var(--negative   -hover);
}

#confirm:active {
    background: var(--negative -active);
}

#book-form input {
    background-color: var(--input-primary);
    border: 2px solid var(--input-border);
}

#card-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 350px;
    gap: 2rem;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr 5fr 1fr;
    align-items: center;
    gap: .75rem;
    padding: 1rem;
    background-color: var(--card-primary);
    border: 3px solid var(--card-border);
    border-radius: 10px;
    color: var(--secondary-font-color)
}

.card-header {
    display: flex;
    align-items: center;
}

.book-title {
    font-size: 1.5rem;
    margin: auto;
}

.options {
    position: relative;
    display: flex;
    align-items: center;
}

.options-dropdown, .options-dropdown::before {
    display: none;
    position: absolute;
    left: calc(100% - 20px);
    top: 100%;
    background-color: var(--ellipsis-primary);
    border: 1.5px solid var(--dropdown-border);
    border-top: none;
    list-style: none;
}

.options-dropdown li button {
    display: flex;
    justify-content: space-between;
    gap: .75rem;
    align-items: center;
    width: max-content;
    min-width: 100%;
    padding: 4px;
    background-color: var(--dropdown-primary);
    font-size: .85rem;
}

.options-dropdown > :nth-child(odd) > :first-child{
    border-bottom: 1.5px solid var(--dropdown-border);
}

.options-dropdown::before {
    content: '';
    position: absolute;
    top: -1px;
    left: 17.5px;
    width: calc(100% - 16px);
    height: 0px;
}

.options-dropdown li button:hover {
    background-color: var(--dropdown-hover);
}

.options-dropdown li button:active {
    background-color: var(--dropdown-active);
}

.options-dropdown.active, .options-dropdown.active::before {
    display: block;

}

.ellipsis {
    left: calc(100% - 40px);
    height: 20px;
    aspect-ratio: 1 / 1;
    background-color: var(--ellipsis-primary);
    border: 1.5px solid var(--ellipsis-border);
    border-radius: 1000px;
}
.ellipsis:has(+ .options-dropdown.active) {
    border-radius: 0px;
}

.ellipsis:hover {
    background-color: var(--ellipsis-hover);
}

.ellipsis:active {
    background-color: var(--ellipsis-active);
}

.book-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 0;
    border: 2px solid var(--card-border);
    border-radius: 5px;
    object-fit: fill;
}

.additional-info {
    display: flex;
    justify-content: space-between;
}

.status {
    font-size: 0.85rem;
    padding: 0.25rem 0.5rem;
    border-radius: 1000px;
}

.status.read { 
    background-color: var(--positive);
    border: 1.5px solid var(--positive-border);
}

.status.unread { 
    background-color: var(--negative   );
    border: 1.5px solid var(--negative -border);
}
